.itemList {
    background-color: #EB0D56;
    height: 20em;
    width: 40em;
    margin-top: 5em;
    margin-left: 20em;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.itemList button {
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
}