.itemCard {
    width: 15em;
    height: 21em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(2, 0, 0, 0.3);
}

.itemImg {
    width: 10em ;
    height: 10em;
    margin-top: 1em;
}

.itemBody {
    color: #b5b9cf;
}

.itemBody h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.itemBody p {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.itemBotonDetalle {
    background-color: #878CBB;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
}