.conteinerNavbar {
    background-color: #EF0896;
    
}

.navbarLogo {
    height: 17em;
    width: 17em;
    margin-top: 1.2em;
}

.navbarNav {
    padding: 1rem;
}

.navbarNav li {
    background-position: 0% 100%;
    background-size: 0% 2px;
    padding: 1.5rem;
    line-height: 2rem;
}

.navbarNav button {
    color: whitesmoke;
    background-color: #EF0896;
    font-size: 2rem;
    font-weight: 600;
    border-style: none;
    text-transform: uppercase;

}