* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  background-color: black;
  background-image: url(./assets/fondopixel.png);
  background-size: cover;
  background-repeat:repeat;
}

.scrollImg {
  width: 100%;
  border-radius: 5px;
}
