.contador {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 5em;
    width: 8em;
}

.contador button {
    background-color:#878CBB  ;
}

.controlBoton {
    font-size: 1.3em;
    font-weight: 800;
    width: 1.5em;
    text-align: center;
    padding: 2px;
}

.controlNumero {
    background-color: darkgrey;
    font-size: 1.5em;
    text-align: center;
    width: 2em;
    margin-top: 0.3em;
}

.controlAgregar {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    height: 2em;
    margin-bottom: 1.5em;
}
.contadorControles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6em;
}